.position-box{
      width: 100%;
    height: .55rem;
    background: #f9fafd;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 500;
    @include flexbox();
    .position-left{
        font-size: .25rem;
        color: #999;
        line-height: .55rem;
        margin-left: .1rem;
    }
    .save{
         font-size: .16rem;
        color: #999;
        line-height: .55rem;
    }
    .position-right{
         font-size: .16rem;
         line-height: .55rem;
         width: 2.31rem;
         font-weight: 700;
        margin-left: .4rem;
        text-align: center;
    }
}
.position-adders{
    margin-top: .55rem;
    height: .54rem;
    background: #fff;
    margin-bottom: .12rem;
    text-align: center;
    line-height: .54rem;
    font-size:.16rem; 
}
.position-addres{
    margin-bottom:.61rem;
    background: #fff;
    ul{
        li{
            border-top:1px solid #e0e0e0; 
             height: .96rem;
             @include flexbox();
             @include justify-content(space-between);
            .person-info{
               
                width: 2.61rem;
                height: .75rem;
                margin-top:.1rem;
                font-size: .16rem;
                margin-left: .2rem;
             @include flexbox();
             @include flex-direction(column);
             @include justify-content(space-around);
             border-right:1px solid #e0e0e0; 
             .person-addres{
                   @include wrap();
                 @include ellipsis();
                 padding-right: .1rem;
                color: #999;
             }
            }
            .exit{
                width: .97rem;
                height: .62rem;
                text-align: center;
                line-height: .62rem;
                font-size: .3rem;
                color: #999;
                margin-top: .1rem;
            }
        }
    }
}
.addAddress{
    width: 100%;
    height: .61rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    .tap-address{
        margin: .09rem 20%;
        height: .44rem;
        line-height: .44rem;
        text-align: center;
        font-size: .16rem;   
        color: #000;
        background-color: #ffd600;
        border-radius: .05rem;
    }
}
