.app-header{
    width: 100%;
    height: .55rem;
    background: #ffd600;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 500;
    @include flexbox();
    @include justify-content(flex-end);
        .header-left{
            width: 2.31rem;
            line-height: .55rem;
            font-weight: 700;
            font-size: .16rem;
            position: absolute;
            left: .6rem;
            @include wrap();
            @include ellipsis();
            }
      .header-right{
            font-size: .08rem;
            height: .52rem; 
            width: .72rem;
            color: #222;
            @include flexbox();
            @include flex-direction(column);
           i{
            padding-left:.35rem;
            padding-bottom: .1rem;
            }
          .seach{
            color: #666;
            line-height: .25rem;
            font-size: .28rem;
            padding-left:.4rem;
            padding-top: .1rem;
          }   
      }
}