.app-box{
    padding-top:.55rem; 
    overflow:scroll;
}
.swiper-pagination-bullet{
 background-color: #ffffff;
    box-shadow: 0 1px 0 grey inset;
}
.swiper-pagination-bullet-active{
    background: #ffd600;
}
.swiper-pagination{
    text-align: end;
    padding-right: .1rem;
}